.main{
    position: absolute;
    top:0px;
    bottom:0px;
    left:0x;
    right:500px;
    margin:auto;
    border-radius: 20px;
    padding-top:50px ;
    width:500px;
    height:500px;
    background-color: skyblue;
    
}
.table{
    position: relative;
    margin: 0 auto;
}
input{
    position: relative;
    width:90%;
}
@media (max-width: 800px) {
    .main{
        position: static;
        width:350px;
    }
    .item{
      width:80%;
      margin: 0px;
    }
    
  }