.contactNote{
    background-color: black;
    width:100%;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height:auto;
    
}
.item{
    background-color:#FBF7F4;
    padding-top: 50px;
    padding-left: 50px;
}
.wrapper {

    background-color: #4b4b4b;
    display: grid;
    
    /* column-gap: 20px; */
    overflow: hidden;
height:auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    


}

.item1 {

    background-color: inherit;
    width:300px;
    height: 350px;
    text-align: center;
    color:red;
    /* display: inline; */
    border-radius: 20px;
    /* border: 2px solid red; */
    margin: 20px 0px 20px 0px;





}
.row1{
    width:90%;
   margin-left: 10%;
    
    text-align: center;
}
.col1{
    margin-left: 0px;
}

.cellfooter{
    background-color: blue;

}
@media (max-width: 800px) {
    .wrapper{
        margin-top: 50px;
    }
    .col1{
        margin-left: 0px;
    }
}