
*{
    margin:0px;
    padding: 0px;
}


.tableContainer{
    
 margin-top: 150px;
    display:flex;
    flex-flow: row wrap;
   flex-basis: 100%;
    
    padding-bottom: 100px;
   
}
.item{
    width:90%;
    margin: 0 auto;
    

}
.table{
    width:90vw;
    border:2px solid gray;
    
    
    /* display:flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    background-color: red; */

}
td{
   
    
        word-break:break-all;
       
}
.showRecords{
    height: 60px;
    
    display: grid;
    

   
}


ul{
    /* position: absolute;
    left:300px; */
    display: flex;
    list-style-type: none;
    
}
/* .display{
    position: relative;
    left:0px;
    top:100vh;
} */



svg{
    width:40px;
    height:40px;
}
.searchIcon{
    position:relative;
 background: none;
    width:5%;
    color:blue;
   outline: none;
   border: none;
    left: 130px;
   
   
}


.LeftArrowIcon{
    position: relative;
    background-color: white;
    color:blue;
    border: none;
    width:34.6%;
    right: 230px;
}
.addBtn{
    width:35%;
   
   
    border:none;
}
.delBtn{
    width:35%;
   
    color:red;
    border: none;
}
.select{
    text-align: left;
   }
   .searchbar{
    /* width:100vw; */
  /* margin-left: 0px; */
   
    position: relative;
    top:0px;
    height:60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    /* color:white; */
    
}
.searchBarItem{



/* border:2px solid darkred; */
}
.sitem{
    /* background-color: green;
    border:2px solid red; */
}
.itemp{
    background-color: red;
}
input[type=email]{
    position: relative;
   width:90%;
    margin-left: 50px;
   
   

    
    
     }
    
     @media (max-width: 360px){
       .table{
      
        width:350px;
        
       
    
       }
       .item{
       width: 40%;
       }
       .tableContainer{
        /* width:100%; */
       }
       /* .searchIcon{
       
        left: 100px;
       
       
    } */
       
        
      
       
     }
        @media only screen and (min-width: 361px) and (max-width: 600px) {
           
              
            
     } 
     @media only screen and (min-width: 414px) and (max-width: 700px) {
       
 } 
 @media only screen and (min-width: 701px) and (max-width: 1200px) {
  
    
} 
@media only screen and (min-width: 1201px) and (max-width: 00px) {
      
    
} 
     
   
@media only screen and (min-width: 414px) and (max-width: 600px)  {
  
   
  
   }
   
 


@media only screen and (min-width: 601px) and (max-width: 1200px)  {
   
   
 }
 
 
 @media only screen and (min-width: 1201px) {
    
    

 }