
*{
    margin:0px;
    padding: 0px;
}


.tableContainer{
    position: absolute;
 margin-top: 150px;
    display:flex;
    flex-flow: row wrap;
   flex-basis: 100%;
    
    padding-bottom: 100px;
   
}
.item{
    width:90%;
    margin: 0 auto;
    

}
.table{
    width:90vw;
    border:2px solid gray;
    
    
    /* display:flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    background-color: red; */

}
td{
   
    
        word-break:break-all;
       
}
.showRecords{
    height: 60px;
    
    display: grid;
    

   
}


ul{
    /* position: absolute;
    left:300px; */
    display: flex;
    list-style-type: none;
    
}
/* .display{
    position: relative;
    left:0px;
    top:100vh;
} */



svg{
    width:40px;
    height:40px;
}
.searchIcon{
    position:relative;
 background: none;
    width:5%;
    color:gray;
   outline: none;
   border: none;
    left: 0px;
   
   
}
.searchInput{
    position: relative;
    width:300px;
    height:40px;
    border:none;
    border-radius: 10px;
    outline: none;
    padding-left: 20px;
    /* border:2px solid red; */


}

.LeftArrowIcon{
    position: relative;
    background-color: white;
    color:blue;
    border: none;
    width:30.6%;
    right: 290px;
}
.addBtn{
    width:35%;
   
   
    border:none;
}
.delBtn{
    width:35%;
   
    color:red;
    border: none;
}
.select{
    text-align: left;
   }
   .searchbar{
    /* width:100vw; */
  /* margin-left: 0px; */
   
    position: relative;
    top:0px;
    height:60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    /* color:white; */
    
}
.searchBarItem{



/* border:2px solid darkred; */
}
.sitem{
    /* background-color: green;
    border:2px solid red; */
}
.itemp{
    background-color: red;
}
/* input[type=email]{
    position: relative;
   width:90%;
    margin-left: 50px;
   
   

    
    
     } */
     @media (max-width: 800px) {
        .tableContainer{
         
       
            z-index: -1;
        }
     }
  