.tableContainer{
    
    position: absolute;
    margin:auto;
    padding:0px;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    background-color: skyblue;
    width:60%;
    border-radius: 20px;
    height:500px;
    padding-top: 150px;
    

      
   }
   
   .td{
    width:400px;
    text-align: right;
    border:2px solid red !important;
   }
   
   .table{
  
   
    
    
    /* display:flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    background-color: red; */

}
.googleLoginBtn{
    position: relative;
    width:100%;
}
.logoutBtn{
    position: relative;
    width: 100%;
}
.loginFailed{
    /* background-color:inherit; */
    /* border: 5px solid red; */
    color:red;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid red;
    border-radius: 20px;
    /* margin-top: 150px; */
    margin-left: 40%;
    padding-left: 10px;
    padding-top: 10px;
    width:300px;
    /* z-index: 500; */
    height:50px;
}
@media (max-width: 800px) {
    .table{
        width:350px;
    }
    .tableContainer{
        width:100%;
        top:200px;
        z-index: -1;
    }
    .loginFailed{
        margin-left: 10%;
    }
}
@media (max-width: 360px){
    .table{
   
    
     
    
 
    }
    /* .tableContainer{
        
        width:200%;
        margin: 0px;
        height:300px;
    } */
    }